@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('../Lib/fontawesome-free-5.15.1-web/fontawesome-free-5.15.1-web/css/fontawesome.min.css');
@import url('../Lib/fontawesome-free-5.15.1-web/fontawesome-free-5.15.1-web/css/brands.css');
@import url('../Lib/fontawesome-free-5.15.1-web/fontawesome-free-5.15.1-web/css/solid.css');


body {
    padding-top: 20px;
    padding-bottom: 100px;
    font-family: 'Roboto', sans-serif;
  }
  
  .footer {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 100px;
    border: 1px solid #e5e5e5;
    position: inherit;
    bottom: 0;
    left: 40px;
    right: 40px;
    background-color: #eee;
    border-radius: 5px
  }

  .footer p {
    margin: 0;
    padding: 0 0 0 30px
  }
  
  /* Main marketing message and sign up button */
  .jumbotron {
    text-align: center;
    background-color: transparent;
  }
  .jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
  }
  
  .navbar {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7),to(#eee));
    background-image: -webkit-linear-gradient(top, #f7f7f7 0%,#eee 100%);
    background-image: -o-linear-gradient(top, #f7f7f7 0%,#eee 100%);
    background-image: linear-gradient(to bottom, #f7f7f7 0%,#eee 100%);
    border: 1px solid #e5e5e5;
  }
  
  @media (min-width: 768px) {
    .navbar-nav {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }
  
    .navbar-nav .nav-item {
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 auto;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto;
    }
  }
  
  /* Responsive: Portrait tablets and up */
  @media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .masthead,
    .marketing,
    .footer {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .lead {
    font-weight: 100;
  }
  /* Home page elements. */
  .home-media-icon {
    font-size: 40px;
    color: rgb(145, 141, 141)
  }

  /* login page */
  .row-login-form {
    margin-top: 50px;
  } 